body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  background-size: cover;
  padding-top: 100px;
  height: 100%;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.greeting {
  font-size: 6vw;
  font-weight: 450;
  color: #343a40;
}
.role {
  color: '#bd5d38';
  text-align: center;
  font-size: 3vw;
  font-weight: 450;
}


